body, html {
  height: 100%;
  margin: 0%;
  font-family: Arial, Helvetica, 'sans-serif';
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

.img1 { background-image: url("https://wallpaperaccess.com/full/18541.jpg"); } 
.img2 { background-image: url("https://www.qantas.com/content/travelinsider/en/lifestyle/quiz/city-skyline-silhouette-quiz-guess-match-photo-image/_jcr_content/parsysTop/hero.img.full.medium.jpg/1608004064520.jpgx`"); }
.img4 { background-image: url("https://i.pinimg.com/originals/40/30/b1/4030b1e53f48a5301df837c2781756d0.jpg"); } 



#navbar {
    overflow:visible;
    background-color: #033F47;
    padding: 0px 00px;
    transition: 0.5s;
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 99;
    font-family: sans-serif;
  }
  
  #navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  #navbar #logo {
    font-size: 40px;
    font-weight: bold;
    transition: 0.5s;
    float: left;
  
  }
  
  #navbar a:hover {
    background-color: #D44D02;
    color: black;
    font-family: sans-serif;
  }
  
  #navbar a.active {
    background-color: #013940;
    color: #F9F5F8;
    font-family: sans-serif;
  }
  
  #navbar-right {
    float: right;
    font-family: sans-serif;
  }
  
  @media screen and (max-width: 00px) {
    #navbar {
      padding: 0px 0px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
      font-family: sans-serif;
    }
    #navbar-right {
      float: none;
      font-family: sans-serif;
    }
  }
  
  img {
    margin-left: 10px;
    margin-top: 0px;
    float: left;
  
    
  }
  
  h1{
    display: inline;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 0;
    padding-bottom: 0px;
  }


  .title2 {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 60px;
    position:absolute ;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -450%);
    width: 800px;
    padding: 20px;
    text-align: center;
    font-family: Arial, 'Helvetica', sans-serif;
    border: 10px solid white;
  }

  .title3 {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 20px;
    position:absolute;
    left:10%;
    transform: translate(-50%, -3200%);
    width: 200px;
    padding: 10px;
    text-align: center;
    font-family: Arial, 'Helvetica', sans-serif;
    border: 5px solid white;
  }

  .para1 {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 15px;
    position:absolute;
    left:2.5%;
    transform: translate(-0%, -2000%);
    width:1200px;
    padding: 10px;
    text-align: left;
    font-family: Arial, 'Helvetica', sans-serif;
    border: 5px solid white;
  }

  .title4 {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 20px;
    position:absolute;
    left:10%;
    transform: translate(-50%, -2850%);
    width: 200px;
    padding: 10px;
    text-align: center;
    font-family: Arial, 'Helvetica', sans-serif;
    border: 5px solid white;
  }

  .para2 {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 15px;
    position:absolute;
    left:2.5%;
    transform: translate(-0%, -1775%);
    width:1200px;
    padding: 10px;
    text-align: left;
    font-family: Arial, 'Helvetica', sans-serif;
    border: 5px solid white;
  }

.title5 {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 20px;
  position:absolute;
  left:10%;
  transform: translate(-50%, -2450%);
  width: 200px;
  padding: 10px;
  text-align: center;
  font-family: Arial, 'Helvetica', sans-serif;
  border: 5px solid white;
}

.para3 {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 15px;
  position:absolute;
  left:2.5%;
  transform: translate(-0%, -410%);
  width:1200px;
  padding: 10px;
  text-align: left;
  font-family: Arial, 'Helvetica', sans-serif;
  border: 5px solid white;
}

.title6 {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 20px;
  position:absolute;
  left:15.5%;
  transform: translate(-50%, -1750%);
  width: 350px;
  padding: 10px;
  text-align: center;
  font-family: Arial, 'Helvetica', sans-serif;
  border: 5px solid white;
}

.para4 {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 15px;
  position:absolute;
  left:2.5%;
  transform: translate(-0%, -1050%);
  width:1200px;
  padding: 10px;
  text-align: left;
  font-family: Arial, 'Helvetica', sans-serif;
  border: 5px solid white;
}

.title7 {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 20px;
  position:absolute;
  left:15.5%;
  transform: translate(-50%, -1150%);
  width: 350px;
  padding: 10px;
  text-align: center;
  font-family: Arial, 'Helvetica', sans-serif;
  border: 5px solid white;
}

.para5 {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 15px;
  position:absolute;
  left:2.5%;
  transform: translate(-0%, -850%);
  width:1200px;
  padding: 10px;
  text-align: left;
  font-family: Arial, 'Helvetica', sans-serif;
  border: 5px solid white;
}

.title8 {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 20px;
  position:absolute;
  left:15.5%;
  transform: translate(-50%, -850%);
  width: 350px;
  padding: 10px;
  text-align: center;
  font-family: Arial, 'Helvetica', sans-serif;
  border: 5px solid white;
}

.para6 {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 15px;
  position:absolute;
  left:2.5%;
  transform: translate(-0%, -600%);
  width:1200px;
  padding: 10px;
  text-align: left;
  font-family: Arial, 'Helvetica', sans-serif;
  border: 5px solid white;
}